{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Weather APP</title>
</head>

<body>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="city" placeholder="City">
        <button type="submit">Get weather</button>
    </form>

    {% if weather_data %}
    <div class="city-container">
        {% include 'weather/city_weather.html' %}
    </div>
    {% endif %}
</body>

</html>